<!DOCTYPE html>
<html
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  lang="en"
>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if mso
      ]><xml
        ><o:OfficeDocumentSettings
          ><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG /></o:OfficeDocumentSettings></xml
    ><![endif]-->
    <!--[if !mso]><!-->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
      type="text/css"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" type="text/css">
    <!--<![endif]-->
    <style>
      /* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
      }

      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: inherit !important;
      }

      #MessageViewBody a {
        color: inherit;
        text-decoration: none;
      }

      p {
        line-height: inherit;
      }

      @media (max-width: 520px) {
        
      }
      @media (max-width: 768px) {
        
      }
    </style>
  </head>

  <body style=" background-color: #ffffff; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none; " >
    <div style=" display: block; padding: 10px 20px; margin-left: auto; margin-right: auto; width: 50%;" > 
    <%- include ("../../partials/header") %>
    </div>
    <div style="text-align: center; display: block; background-color: #311038; border-radius: 20px; padding: 10px 32px; " >
        <h2 style=" display: block; font-size: 30px; color: #ffffff; font-family: Poppins, Medium; font-weight: 500; margin-top: 20px; margin-bottom: 20px;">
          Your order <%= order_id %> has been cancelled
        </h2>
        <div style=" display: block; font-size: 20px; color: #ffffff; font-family: Poppins, Medium; font-weight: 500; margin-top: 10px; margin-bottom: 20px; ">
            <%= order_cancel_reason %>
        </div>
        <div style=" display: block; font-size: 20px; color: #ffffff; font-family: Poppins, Medium; font-weight: 500; margin-top: 10px;  ">
          If you have any issues or wish to contact us please email 
        </div>
        <div style=" display: block; font-size: 20px; color: #ffffff; font-family: Poppins, Medium; font-weight: 500; margin-bottom: 20px; ">
          <a style="color: white;" href="mailto:webmaster@example.com">ADDRESSTBC@TBC.COM</a>
        </div>
    </div>
    <div style=" display: block; padding: 0px 32px; margin-top: 20px;">
      <span style=" display: block; font-size: 22px; font-family: Poppins, Medium; font-weight: 700; margin-top: 60px; margin-bottom: 4px; ">
        Order Details
      </span>
      <span style=" display: block; font-size: 16px; font-family: Poppins, Medium; margin-top: 4px; margin-bottom: 4px; ">
        <span style="font-weight: 700;">Date: </span>&nbsp;<%= date %>
      </span>
      <span style=" display: block; font-size: 16px; font-family: Poppins, Medium; margin-top: 4px; margin-bottom: 4px; ">
        <span style="font-weight: 700;">Order ID:</span>&nbsp;<%= order_id %>
      </span>
      <span style=" display: block; font-size: 16px; font-family: Poppins, Medium; margin-top: 4px; margin-bottom: 4px; ">
        <span style="font-weight: 700;">Customer ID:</span>&nbsp;<%= customer_id %>
      </span>
    </div>
    <div style=" display: block; padding: 0px 32px">
      <div style="background-color: #ebebeb; height: 1.5px; width: 100%; margin-top: 20px;"></div>
        
        <% product_list.forEach(function(item){ %>
          <div style="margin-top: 20px;">
            <div style="margin-top: 4px; margin-bottom: 4px; display: flex; font-size: 16px; font-family: Poppins, Medium;">
              <div style="width: 40%; font-weight: 600;">Description</div>
              <div style="width: 60%;"><%= item.title %></div>
            </div>
            <div style="margin-top: 4px; margin-bottom: 4px; display: flex; font-size: 16px; font-family: Poppins, Medium;">
              <div style="width: 40%; font-weight: 600;">Quantity</div>
              <div style="width: 60%;"><%= item.quantity %></div>
            </div>
            <div style="margin-top: 4px; margin-bottom: 10px; display: flex; font-size: 16px; font-family: Poppins, Medium;">
              <div style="width: 40%; font-weight: 600;">Cost</div>
              <div style="width: 60%;"><%= item.price %></div>
            </div>
          </div>
        <%  }); %>    

    </div>
    <div style=" display: block; padding: 0px 32px">
      <div style="background-color: #ebebeb; height: 1.5px; width: 100%; margin-top: 20px; margin-bottom: 20px;"></div>
      <div style="margin-top: 4px; margin-bottom: 4px; display: flex; font-size: 16px; font-family: Poppins, Medium;">
        <div style="width: 40%; font-weight: 600;">Shipping</div>
        <div style="width: 60%;">$<%= shipping_cost %></div>
      </div>
      <div style="margin-top: 4px; margin-bottom: 4px; display: flex; font-size: 16px; font-family: Poppins, Medium;">
        <div style="width: 40%; font-weight: 600;">Order Total</div>
        <div style="width: 60%;">$<%= order_total %></div>
      </div>
    </div>
    <div style=" display: block; padding: 0px 32px">
      <div style="background-color: #ebebeb; height: 1.5px; width: 100%; margin-top: 20px; margin-bottom: 20px;"></div>
      <span style=" display: block; font-size: 22px; font-family: Poppins, Medium; font-weight: 700; margin-top: 4px; margin-bottom: 4px; ">
        Shipping Details
      </span>
      <span style=" display: block; font-size: 14px; font-family: Poppins, Medium; margin-top: 3px; margin-bottom: 3px; ">
        <%= shipping_details.firstName %>&nbsp;<%= shipping_details.lastName %>
      </span>
      <span style=" display: block; font-size: 14px; font-family: Poppins, Medium; margin-top: 3px; margin-bottom: 3px; ">
        <%= shipping_details.address %>
      </span>
      <span style=" display: block; font-size: 14px; font-family: Poppins, Medium; margin-top: 3px; margin-bottom: 3px; ">
        <%= shipping_details.city %>
      </span>
      <span style=" display: block; font-size: 14px; font-family: Poppins, Medium; margin-top: 3px; margin-bottom: 3px; ">
        <%= shipping_details.country %>
      </span>
      <span style=" display: block; font-size: 14px; font-family: Poppins, Medium; margin-top: 3px; margin-bottom: 60px; ">
        <%= shipping_details.postalCode %>
      </span>
    </div>
    <div style=" display: block; background-color: #ebebeb; border-radius: 20px 20px 0 0; padding: 28px 32px; ">
      <span style=" display: block; font-size: 16px; font-family: Poppins, Regular; color: #2b2b2b; font-weight: 400; margin-top: 16px; margin-bottom: 16px; ">
        Peasy, 57 Jordan St, Liverpool L1 0BW
      </span>
      <span style=" display: block; font-size: 16px; font-family: Poppins, Regular; color: #2b2b2b; font-weight: 400; margin-top: 12px; margin-bottom: 8px; ">
        Copyright © 2022 Peasy
      </span>
      <span style=" display: block; font-size: 16px; font-family: Poppins, Regular; color: #2b2b2b; font-weight: 400; margin-top: 12px; margin-bottom: 12px; ">
        <u>Contact us</u>
      </span>
      <span style=" display: block; font-size: 16px; font-family: Poppins, Regular; color: #2b2b2b; font-weight: 400; margin-top: 12px; margin-bottom: 12px; ">
        <u>Cofounded with Nova</u>
      </span>
    </div>
  </body>
</html>
