<!DOCTYPE html>
<html
        xmlns:v="urn:schemas-microsoft-com:vml"
        xmlns:o="urn:schemas-microsoft-com:office:office" xmlns="http://www.w3.org/1999/html"
        lang="en"
>
<head>
    <title>welcome</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            <o:AllowPNG/>
        </o:OfficeDocumentSettings>
    </xml
    ><![endif]-->
    <!--[if !mso]><!-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"
          type="text/css">
    <!--<![endif]-->
    <style>
        /* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            /*font-family: 'Poppins', sans-serif;*/
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: inherit !important;
        }

        #MessageViewBody a {
            color: inherit;
            text-decoration: none;
        }

        p {
            line-height: inherit;
        }

        @media (max-width: 520px) {

        }

        @media (max-width: 768px) {

        }
    </style>
</head>

<body style=" background-color: #ffffff; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none; ">
<div style=" display: block; padding: 10px 20px; margin-left: auto; margin-right: auto; width: 50%;">
    <%- include ("../../partials/header") %>
</div>
<div style=" display: block; padding: 10px; margin-left: auto; margin-right: auto; width: 100%;">
    <h2 style="  font-size: 30px; color: #FF3D99; margin-top: 0;margin-bottom: 0; font-weight: 500;text-align: center">
        Hi <%= name %> <br> Welcome to Peasy
    </h2>

    <div style=" display: block; padding: 0 10px 20px ; margin-left: auto; margin-right: auto; width: 50%;">
        <%- include ("../../partials/colorHandicon") %>
    </div>

</div>
<div style=" display: block; background-color: #311038; border-radius: 20px; padding: 28px 32px; ">

    <div style="border-radius: 20px;font-size: 22px; background-color:#4A2D50; color: #ffffff;  font-weight: 500;  margin-bottom: 10px; padding:20px; ">
         <span style=" ">
              Your store has been setup and is now ready to share with buyers.
         </span>
    </div>

    <h2 style="  font-size: 16px; color: #ffffff;  font-weight: 500;">
        Your Peasy Profile
    </h2>

    <span style=" display: block; font-size: 12px; color: #ffffff;  font-weight: 500; margin-top: 10px; margin-bottom: 10px; ">
      Seller name
     </span>
    <span style=" display: block; font-size: 16px; color: #ffffff;   margin-top: 10px; margin-bottom: 10px; ">
      <%= name %>
     </span>

    <span style=" display: block; font-size: 12px; color: #ffffff;  font-weight: 500; margin-top: 10px; margin-bottom: 10px; ">
      Store name
     </span>
    <span style=" display: block; font-size: 16px; color: #ffffff;   margin-top: 10px; margin-bottom: 10px; ">
      <%= storeName %>
     </span>


    <span style=" display: block; font-size: 12px; color: #ffffff;  font-weight: 500; margin-top: 10px; margin-bottom: 10px; ">
      Store link
     </span>
    <span style=" display: block; font-size: 16px; color: #ffffff;   margin-top: 10px; margin-bottom: 10px; ">
      <%= storeLink %>
     </span>

    <span style=" display: block; font-size: 12px; color: #ffffff;  font-weight: 500; margin-top: 10px; margin-bottom: 10px; ">
      Commission on sales
     </span>
    <span style=" display: block; font-size: 16px; color: #ffffff;   margin-top: 10px; margin-bottom: 10px; ">
      <%= commission %>
     </span>

</div>
<div style=" display: block; padding: 28px 32px">
    <h2 style=" font-size: 25px;  color: #FF3D99; font-weight: 600; margin-top: 35px; ">
        Getting started is easy
    </h2>

    <h3 style="display:block;  font-size: 20px;  color: #311038; font-weight: 600;  ">
        Check out your Peasy store
    </h3>
    <span style="display:block;  font-size: 14px;  color: #000000;  ">
        Click the link above to visit your store and familiarise yourself with the products ready to sell.
      </span>

    <h2 style="display:block;margin-top: 35px;  font-size: 20px;  color: #311038; font-weight: 600;  ">
        Get ready to sell and earn
    </h2>
    <span style="display:block;  font-size: 14px;  color: #000000;  ">

         Guide customers to your store by adding the store link to your live stream.<br><br>
         Your customers can then view product listings, select items they wish to purchase which is all handled by Peasy.<br><br>
         When an order is placed you will receive an email with details and commission which will be paid when the orders completed.<br><br>
      </span>

    <h2 style="display:block; margin-top: 20px; font-size: 20px;  color: #311038; font-weight: bold;">
        New products added regularly
    </h2>
    <span style=" display:block;  font-size: 14px;  color: #000000">
        Based on your profile and selling habits our team will select new products for you to sell and email you with details.
      </span>

    <p style="margin-top: 70px; font-size: 25px;  color: #FF3D99; font-weight: 600; ">
        Welcome aboard!<br>Team Peasy
    </p>

    <div style=" display: block; text-align: center; margin: 40px auto 24px; width: 100%;">
        <a href="  <%= storeLink %>" target="_blank"
           style=" background-color: #ff4ca1; padding: 15px 3%; color: white; border-radius: 25px; text-decoration: none; text-align: center; ">
            <span style="font-size: 18px;  font-weight: 500; padding: 0 50px">
              Visit your store
            </span>
        </a>
    </div>

    <p style=" font-size: 25px;  color: #FF3D99; font-weight: 600; margin-top: 70px; ">
        Contact
    </p>

    <p style=" font-size: 20px;  color: #311038; font-weight: bold;  ">
        Account, sales and product
    </p>

    <span style=" display:block; font-size: 16px;  color: #000000; margin-top:0; "> TBC@pops.com </span>
    <span style=" display:block; font-size: 16px;  color: #000000;  "> 01234 567891 </span>
    <span style=" display:block; font-size: 16px;  color: #000000;  "> Vietnam, TBC TBC TBC </span>

    <br>
    <p style=" font-size: 20px;  color: #311038; font-weight: bold;  ">
        Peasy platform and feedback
    </p>
    <span style=" display:block;font-size: 16px;  color: #000000; margin-top:0;  "> Peasy@peasy.com </span>

</div>

<div style=" display: block; background-color: #ebebeb; border-radius: 20px 20px 0 0; padding: 28px 32px; ">

    <div style="line-height: 10px">
        <img src="https://peasy-utils.s3.eu-west-2.amazonaws.com/logoWhite.png" alt="My logo" style="height: 56px"/>
    </div>

    <span style=" display: block; font-size: 16px;  color: #000000; font-weight: 600; margin-top: 35px; margin-bottom: 16px; ">
        Say hello to Peasy
      </span>
    <span style=" display: block; font-size: 16px;  color: #000000; font-weight: 400; margin-top: 4px; margin-bottom: 12px; ">
        Peasy is the ultimate social selling platform that makes it easy for people to promote products, generate higher volume of sales and make money.
      </span>
    <span style=" display: block; font-size: 16px;  color: #000000; font-weight: 400; margin-top: 35px; margin-bottom: 35px; ">
        Peasy, 57 Jordan St, Liverpool L1 0BW
      </span>
    <span style=" display: block; font-size: 16px;  color: #000000; font-weight: 400; margin-top: 12px; margin-bottom: 8px; ">
        Copyright © 2022 Peasy
      </span>
    <span style=" display: block; font-size: 16px;  color: #000000; font-weight: 400; margin-top: 12px; margin-bottom: 12px; ">
        <u>Contact us</u>
      </span>
    <span style=" display: block; font-size: 16px;  color: #000000; font-weight: 400; margin-top: 12px; margin-bottom: 12px; ">
        <u>Cofounded with Nova</u>
      </span>
    <span style=" display: block; font-size: 16px;  color: #000000; font-weight: 400; margin-top: 12px; margin-bottom: 12px; ">
        <u>Unsubscribe</u>
        or
        <u>update preferences</u>
      </span>
</div>
</body>
</html>
